<%- include('header'); %>

    <div class="row">
        <div class="col s12 m6 l4">
            <div class="card light-blue accent-3">
                <div class="card-content white-text center-align">
                    <p class="card-title">Users</p>
                    <h3><%= data.usersCount %></h3>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card green accent-4">
                <div class="card-content white-text center-align">
                    <p class="card-title">Services</p>
                    <h3><%= data.servicesCount %></h3>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card orange lighten-1">
                <div class="card-content white-text center-align">
                    <p class="card-title">Order Processed</p>
                    <h3><%= data.ordersCount %></h3>
                </div>
            </div>
        </div>
    </div>

    <h2>Recent Orders</h2>

    <% if(recentOrders.length > 0) { %>
    <table class="highlight responsive-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Service</th>
                <th>Price</th>
                <th>Seller</th>
                <th>Buyer</th>
                <th>Date</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <% recentOrders.forEach((order) => { %>
            <%
            var status = "";
            if(!order.seller_approved) {
                status = "Waiting for seller's approval."
            } else if (!order.agent_approved) {
                status = "Waiting for agent approval.";
            } else if (order.disputed) {
                status = "Order was disputed.";
            } else if (order.completed) {
                status = "Order is completed.";
            } else if (!order.delivered && !order.modification_requested) {
                status = "Waiting for work delivery.";
            } else if (order.delivered && !order.modification_requested) {
                status = "Order was delivered.";
            } else if (!order.delivered && order.modification_requested) {
                status = "Buyer requested modification.";
            } else if (order.delivered && order.modification_requested) {
                status = "Seller submitted modification.";
            }
            %>
            <tr>
                <td><%= order.escrow_id %></td>
                <td><a href="/@<%= order.seller.username %>/<%= order.service.slug %>"><%= order.service.title %></a></td>
                <td><%= order.service.price %> <%= order.service.currency %></td>
                <td><%= order.seller.username %></td>
                <td><%= order.buyer.username %></td>
                <td><%= order.createdAt.toDateString() %></td>
                <td><%= status %></td>
                <td>
                <% if(!order.agent_approved) {%>
                    <a href="#orderManagement" class="btn modal-trigger waves-effect waves-light green" data-action="approve" data-id="<%= order._id %>">Approve</a>
                    <a href="#disputeManagement" class="btn modal-trigger waves-effect waves-light red" data-action="decline" data-id="<%= order._id %>">Decline</a>
                <% } else if (order.disputed) { %>
                    <a href="#disputeManagement" class="btn modal-trigger waves-effect waves-light light-blue" data-action="release" data-id="<%= order._id %>">Make Decision</a>
                <% } %>
                </td>
            </tr>
        <% }) %>
        </tbody>
    </table>

    <p class="right-align"><a class="btn waves-effect waves-light" href="/admin/manage-orders/">View All</a></p>
    <% } else { %>
    <p class="flow-text">There is no active orders.</p>
    <% } %>

    <h2>Categories</h2>

    <% if(categories.length > 0) { %>
    <div class="row">
        <% categories.forEach((category) => { %>
        <div class="col s12 m6 l4">
        <div class="card-panel"><a href="/categories/<%= category.slug %>"><%= category.name %> <span class="badge"><%= category.service_count %></span></div>
        </div>
        <% }) %>
    </div>
    <p class="right-align"><a class="btn waves-effect waves-light" href="/admin/categories">Manage Categories</a></p>
    <% } else { %>
    <p class="flow-text">No category found. Please <a href="/admin/add-category">Add Category</a></p>
    <% } %>

    <h2>Users</h2>

    <% if(users.length > 0) { %>
    <table class="highlight responsive-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Registered On</th>
            </tr>
        </thead>
        <tbody>
        <% users.forEach((user) => { %>
            <tr>
                <td><%= user.name %></td>
                <td><a href="/@<%= user.username %>"><%= user.username %></a></td>
                <td><%= user.email %></td>
                <td><%= user.createdAt.toDateString() %></td>
            </tr>
        <% }) %>
        </tbody>
    </table>
    <p class="right-align"><a class="btn waves-effect waves-light" href="/admin/users/1">View All</a></p>
    <% } else { %>
    <p class="flow-text">No user found.</p>
    <% } %>

    <div id="orderManagement" class="modal">
        <form action="/admin/manage-orders" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <input type="hidden" name="action">
            <input type="hidden" name="orderId">
            <div class="modal-content">
                <h4>Are you sure?</h4>
                <p id="warningOm"></p>
                <div class="input-field">
                    <input type="text" name="wif">
                    <label for="wif">Active Private Key</label>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                <button id="actionBtnOm" type="submit" class="modal-action btn">Approve</button>
            </div>
        </form>
    </div>
    
<%- include('footer'); %>