<%- include('partials/header'); %>
        <div class="page-header">
            <h1><%= title %></h1>
        </div>
        <div class="row">
        <% services.forEach((service) => { %>
            <div class="col-sm-4 col-lg-3">
                <div class="service-card">
                    <div class="price"><%= service.price %></div>
                    <div class="cover-image" style="background-image:url('https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto/gigs/65348229/original/b611cea9ee05b5d3dcb4894b5087195bdf028ef5/convert-psd-to-bootstrap-3-6b12fd35-6541-4695-b0c6-49050b4a6cd5.png')"></div>
                    <div class="title">
                        <a href="/@<%= service.seller.username %>/<%= service.slug %>"><%= service.title.toLowerCase() %></a>
                    </div>
                    <div class="seller">
                        Offered by <a href="https://steemit.com/@<%= service.seller.username %>"><%= service.seller.username %></a>
                    </div>
                </div>
            </div>
        <% }) %>
        </div>
<%- include('partials/footer'); %>