<%- include('partials/header'); %>
        <div class="page-header-bg" style="background-image:url('<%= category.image %>')">
            <h2><%= title %></h2>
        </div>

        <div class="container">
            <% if(services.length > 0) { %>
            <div class="row">
            <% services.forEach((service) => { %>
                <div class="col s12 m6 l3">
                    <div class="card service-card">
                        <div class="card-image" style="background-image:url('<%= service.cover_image %>')"></div>
                        <div class="card-content">
                            <p><strong><%= service.title %></strong> for <strong><%= service.price %> <%= service.currency %></strong></p>Offered by <a href="/@<%= service.seller.username %>"><%= service.seller.username %></a>
                        </div>
                        <div class="card-action">
                            <a class="waves-effect waves-light btn" href="/@<%= service.seller.username %>/<%= service.slug %>">View</a>
                        </div>
                    </div>
                </div>
            <% })
            } else { %>
                <p class="flow-text">There is no services added to this category.</p>
            <% } %>
            </div>
        </div>
<%- include('partials/footer'); %>
