<%- include('partials/header'); %>

    <div class="container">
        <h1><%= error.status %> <%= message %></h1>
        <pre><%= error.stack %></pre>
    </div>

<%- include('partials/footer'); %>
