<%- include('partials/header'); %>
        <h3 class="center-align">Latest Services</h3>

        <div class="row">
        <% services.forEach((service) => { %>
            <div class="col s12 m6 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="<%= service.cover_image %>">
                    </div>
                    <div class="card-content">
                        <p><strong><%= service.title %></strong> for <strong><%= service.price %> <%= service.currency %></strong></p>Offered by <a href="/@<%= service.seller.username %>"><%= service.seller.username %></a>
                    </div>
                    <div class="card-action">
                        <a class="waves-effect waves-light btn" href="/@<%= service.seller.username %>/<%= service.slug %>">View</a>
                    </div>
                </div>
            </div>
        <% }) %>
        </div>

        <h3 class="center-align">Popular Categories</h3>

        <div class="row">
        <% categories.forEach((category) => { %>
            <div class="col s6 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="<%= category.image %>">
                    </div>
                    <div class="card-action">
                        <a href="/categories/<%= category.slug %>" class="category-card"><%= category.name %></a>
                    </div>
                </div>
            </div>
        <% }) %>
        </div>

<%- include('partials/footer'); %>
