<%- include('partials/header') %>
        <div class="container">
            <div class="row">
                <div class="col offset-lg2 lg8">
                    <article class="service">
                        <header>
                            <h1><%= title %></h1>
                            <p class="flow-text">Created on <%= content.created %> by <strong><a href="/@<%= service.seller.username %>"><%= service.seller.username %></a> (<%= content.author_reputation %>)</strong> in <a href="/categories/<%= service.category.slug %>"><%= service.category.name %></a></p>
                        </header>
                        <div class="flow-text"><%- content.body %></div>

                        <% if(session.user) { %>
                        <button data-target="order-modal" class="btn waves-effect waves-light modal-trigger">Order</button>

                        <div id="order-modal" class="modal">
                            <form action="/order" method="post">
                                <div class="modal-content">
                                    <h4>Are you sure you want to order this service?</h4>
                                    <input type="hidden" name="service" value="<%= service._id %>">
                                    <input type="hidden" name="price" value="<%= service.price %>">
                                    <!--<input type="hidden" name="price" value="0.010 SBD">-->
                                    <input type="hidden" name="seller" value="<%= service.seller.username %>">
                                    <div class="input-field">
                                        <input type="text" name="wif" id="wif" class="validate" required>
                                        <label for="wif">Active Private Key</label>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn waves-effect waves-light">Order</button>
                                </div>
                            </form>
                        </div>
                        <% } %>
                    </article>
                </div>
            </div>
        </div>
<%- include('partials/footer') %>